* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1003px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: #ebebeb; 
}
/* ПОВТОРЯЮЩИЕСЯ БЛОКИ */
.title_all {
    width: 550px;
    margin: 0 auto;
}
.title_all h1 {
    font-size: 48px;
    color: #3d3d3d;
    text-transform: uppercase;
    text-align: center;
    padding: 115px 0 10px 0;   
   
}
.title_all .horizont_line {
    width: 152px;
    height: 2px;
    background: #f4511e;
    margin: 0 auto;    
}
.title_all h2 {
    padding: 25px 0 70px 0;
    font-size: 14px;
    color: #696969;
    font-weight: 100;
    text-align: center;    
}
.button_all {
    width: 127px;    
    margin: 0 auto;        
    background: #e84c3d; 
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #ebebeb;    
    font-size: 14px;
    font-weight: 700;
    padding: 15px 0 12px 0;            
}
.button_all:hover {
    box-shadow: -1px 0px 25px -3px #b11000 inset;
}

/* header */
.header {
    background-color: #f8f6f6;
}
.nav {
    height: 143px;
    display: flex;
    justify-content: space-between; 
    padding: 50px 0 0 0;
}
/* head_screen */
.head_screen {
    background-color: #353535;    
}
.head_screen_title {
    width: 950px;
    margin: 0 auto;    
}
.head_screen_title h1 {
    font-size: 60px;
    color: #d6d5d5; 
    text-align: center;  
    padding: 200px 0 25px 0;    
}
.head_screen_title h2 {
    font-size: 30px;
    color: #d6d5d5;  
    text-align: center;  
    padding: 0 0 110px 0;
}
.scroll_down {
    display: flex;
    justify-content: center;
    padding: 0 0 25px 0;
}
.menu_burger:hover {
    cursor: pointer;
}
.logo:hover {
    cursor: pointer;
}

/* about_us */
.group_box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 160px;
}
.box {
    background-color: #ebebeb;
    width: 320px;
    height: 230px;
    display: flex;
    flex-direction: column;    
    padding: 30px 0 23px 0;
}
.icon_box {
    padding: 0 0 24px 0;
    display: flex;
    justify-content: center;
}
.text_box {
    width: 245px;
    text-align: center;
    color: #707070; 
    display: flex;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.text_box h3 {
    font-size: 18px;
    font-weight: 700px;
    text-transform: uppercase;
    padding: 0 0 16px 0;
}
.text_box p {
    font-size: 14px;
    font-weight: 100;    
}
.box:hover {
    border: 1px solid #f4511e;
}

/* Video */
.video {
    display: flex;    
}
.block_title {
    width: 50vw;
    background: #171f23;         
}
.block_video {
    width: 50vw;    
}
.block_video img {
    background-size: cover;
}
.text_block_title {
    width: 480px;  
    margin: 130px auto 48px auto;       
}
.text_block_title h2 {
    text-align: center;
    color: #e7e7e7;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}
.text_block_title p {
    text-align: center;
    color: #696969;
    font-size: 14px;
    font-weight: 100;
}

/* Clients */
.clients {
    background: #1c1c1c;    
}
.wrap {
    display: flex;    
    justify-content: space-between;
    width: 910px;
    margin: 0 auto;
    padding: 109px 0 75px 0;    
}
.block_clients:hover {
    cursor: pointer;
}

/* Team */
.team {
    padding-bottom: 105px;
}
.wrap_box {
    display: flex;  
    justify-content: space-between;  
}
.member {
    background: #ebebeb;
    width: 320px;
    padding: 72px 0 50px 0;   
}
.photo {
    width: 134px;
    height: 134px;
    border-radius: 50%;
    background: #f4511e;
    margin: 0 auto 31px auto;    
}
.name {
    text-align: center;
    color: #3d3d3d;
}
.name h3 {
    font-size: 20px;    
    margin-bottom: 8px;
}
.name p {
    font-weight: 300;
    margin-bottom: 24px;
}
.socials {
    width: 65px;
    margin: 0 auto 35px auto;    
}
.title_skills {
    width: 545px;
    margin: 123px 53px 46px 64px;
}
.title_skills h2 {
    font-size: 24px;
    font-weight: 700;
    color: #3d3d3d;
}
.title_skills p {
    color: #858383;
    font-size: 14px;
    font-weight: 100;
    margin: 27px 0 0 0;
}
.skills {
    width: 661px;
    background: #ebebeb;
}
.progress_block {
    width: 540px;
    margin: 46px 53px 89px 64px;
}
.progressbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 22px 0 0 0;
}
.progressbar h3 {
    font-size: 14px;
    color: #3d3d3d;
    text-transform: uppercase;
    font-weight: 700;
}
.progressbar p {
    font-size: 14px;
    color: #3d3d3d;
    text-transform: uppercase;
    font-weight: 400;
}
progress {
    width: 369px;
    height: 3px;   
}

/* SOME FEATURES */
.features {
    background: #171f23;
    padding-bottom: 68px;
}
.features .title_all h1 {
    color: #f6f6f6;
}
.features .title_all .horizont_line {
    background: #404040;
}
.wrapper_block {
    width: 900px;
    margin: 47px auto 0 auto;
    display: flex;
    justify-content: space-between;
}
.features_block {
    width: 145px;
    display: flex;
    flex-direction: column;     
}
.img_box {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}
.features_block p {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 300;
    color: #f6f6f6;
}
.features_block p:nth-child(3) {
    font-size: 48px;
    margin-top: 32px;
}

/* BLOGS */
.blogs {
    padding-bottom: 115px;
}
.wrap_blog {
    display: flex;
    justify-content: space-between;
}
.blog {
    width: 320px;
    background: #ebebeb;
    padding-bottom: 26px;
}
.wrap_text {
    margin: 40px 30px 27px 29px;
}
.date_soc {
    margin: 0 30px 0 29px;
    display: flex;
    justify-content: space-between;    
}
/* Чтобы картинки при флех не растягивались */
.date_soc img {
    align-self: center;
}
/*  */
.wrap_text h4 {
    font-size: 18px;
    font-weight: 300;
    color: #505050;
}
.wrap_blog p {
    font-size: 14px;
    font-weight: 100;
    color: #797979;
    margin-top: 30px;
}

/* PRICING */
.pricing {
    background: #171f23;
    padding-bottom: 94px;
}
.pricing .title_all h1 {
    color: #f6f6f6;
}
.pricing .title_all .horizont_line {
    background: #404040;
}
.wrap_price {
    width: 935px;
    display: flex;
    justify-content: space-between;
    margin: 55px auto 0 auto;
}
.price {
    width: 233px;
    background: #1f282c;
    padding-bottom: 46px;
}
.name_price {
    background: #0e1316;
    text-align: center;
    padding: 43px 0 39px 0;
}
.name_price p:nth-child(1) {
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
}
.name_price p:nth-child(2) {
    font-size: 36px;
    font-weight: 300;
    color: #ffffff;   
}
.doll {
    font-size: 24px;
}
.content {
    text-align: center;
    padding: 49px 0 77px 0;
}
.content p {
    font-size: 14.3px;
    font-weight: 300;
    color: #ffffff;
}
/* Не для первого */
.content p:not(:first-child) {
    margin: 24px 0 0 0;
}
.bold {
    font-weight: 700;
    color: #ffffff;
}
.price:hover {
    border: 1px solid #f6744b;
}
.price:hover .bold {
    color: #f6744b;
}

/* CONTACT */
.contact {
    padding-bottom: 83px;
}
form {
    width: 775px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
    padding-bottom: 60px;
}
input[type="text"] {
    width: 371px;
    height: 54px;
    border: none;
    border-bottom: 1px solid #404040;
    outline: none;
     
}
input[type="email"] {
    width: 371px;
    height: 54px;
    border: none;
    border-bottom: 1px solid #404040; 
    outline: none;   
}
textarea {
    border: none;
    border-bottom: 1px solid #404040;
    outline: none;
    margin: 45px 0 0 0;        
} 
::-webkit-input-placeholder {
    font-weight: 700;
    font-size: 14px;
    color: #696969;
}
.contact .button_all {
    width: 203px;
    height: 51px;
    background: #f6744b;
    color: #ffffff;
}


/* FOOTER */
footer {
    background: #171f23;
    padding: 49px 0 64px 0;
}
.footer_logo {
    width: 104px;
    margin: 0 auto;
}
footer p {
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    margin: 15px 0 19px 0;
}
.footer_soc {
    width: 68px;
    margin: 0 auto;
}
.footer_soc{}